body {
    width: 95%;
    max-width: 800px;
    margin: auto;
    background: url('../img/bg.jpg') center;

    font-family: 'lato';
    line-height: 1.5;
    color: white;
}

main {
    background: #00000054;
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.logo, .bigTitle, .headline {
    text-align: center;
    margin: 0;
}

.items {
    margin: 30px 0;
    text-align: center;
    width: 100%;
}

.items table {
    background: #ff000038;;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}
